
<head>

    <link href="~/css/EmailSent.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="content">
            <h1>Thank you!</h1>
            Your email has been sent! <br />
            Click <a href="https://localhost:7011/">here</a>  to send another!
        </div>



    </div>
</body>

